
body {
 background-color:#141e30;
  color:#f7630c;
  margin:0;
  padding:0;
}

.icon{
    width:150px;
     height:150px;
    	text-align:center;
}
a{
  color:#ffb900;
}
.cel{
	width: 250px;
	padding: 8px 20px;
	margin: 1px;
	box-sizing: border-box;
	border: none;
  border-radius: 8px;
	border-bottom: 1px solid #ffd369;
	transition: width 0.2s ease-in-out;
	background-color:#eeeeee;
	font-size:18px;
	text-align: center;
  color:#564a4a;
	
}

.sms{
    width: 250px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 20px;
  transition: width 0.2s ease-in-out;
  border: none;
  border-radius: 8px;
	background-color:#eeeeee;
	font-size:18px;
	border-style: outset;
	text-align: center;
	color:#564a4a;
	padding: 12px 0px;
	
	
  
}
input[type=text]:focus {
  width: 100%;
}
input[type=tel]:focus {
  width: 100%;
}
.btn{
  text-align: center;
  background-color: #ffb900;
  border: none;
  color: white;
  padding: 8px 85px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  font-size:25px;
  font-weight: bold;
  display: block;
  text-decoration: none;
  
 
}
.btn input:hover {
 background-color: #fa4235;
}


.texto{
  text-align: center;
 
}
h2{
  text-align: center;
  font-size:15px;
  margin: 0 0 30px;
  padding: 0;
  text-align: center;

}
.atras{
  text-align: center;
  cursor:pointer;
  background-color: #ffb900;
  border: none;
  color: white;
  padding: 12px 20px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 8px;
  font-size:14px;
  font-weight: bold;
  margin: auto;
 

}
.titulo{
  color: white;
  text-align: center;
   font-size:23px;
   text-shadow: 2px 2px 5px #fa4235;
   font-family: 'Brush Script MT', cursive;
   font-weight: bold;
  
}
.caja{
  text-align:center;
  font-size:13px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background:#243b55;
  box-sizing: border-box;
  box-shadow: 0 15px 25px #afbecf;
  border-radius: 10px;

}
strong{
  color:#f7630c;
  font-size:18px;
}
p{
  margin: auto;
  font-size:18px;
  color: white;
}
.formu{
   width: 300px;
  margin: auto;
  font-size:20px;
  color: white;
}
