<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	 <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=no">

   <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> 
	<title>SmsBurst</title>
</head>
<body>
	<p class="titulo">smsburst</p>
	<center>
<!---<img class="icon" src="css/icono2.png">-->




	</center>
<!---	<p style="font-size:60px;text-align:right;">&#x1F4AD;</p>-->
  <p style="font-size:90px;text-align:center">&#129409;</p>
  
	
	<br/>
<p><strong>Datos:</strong> informacion del proyecto:

</p>
	
	<hr/>
	{% block content %}

	{% endblock %}
	<hr/>
	<br/>
	

	
</body>
</html>
