<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=no">
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='imag/icono.png') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<script src="{{ url_for('static', filename='js/js.js') }}"></script>
	<title>SmsBurst</title>
</head>

<body>

	<div class="caja">
		<img class="icon" src="{{ url_for('static', filename='imag/icono.png') }}">
		<p class="titulo">smsburst</p>
		<p><strong>¿Quieres enviar SMS desde Internet? </strong>
			Prueba gratis el servicio de envío de SMS
			Sí estas pensando en implementar un servicio de envío de SMS por
			Internet en tu organización te puede resultar de interés

		</p>


		<hr />
		{% block content %}

		{% endblock %}
		<hr />


		<p>
			Compranos un 🍦 por
			<a target="_blank" href="https://www.paypal.com/paypalme/lpericena">paypal</a>
			a cambio recibirás un 🎁


		</p><strong>Autores:</strong>
		<a target="_blank" href="https://twitter.com/Lpericena">Luishiño </a> &
		<a target="_blank" href="https://twitter.com/Fbr1x1">fabrix </a>
	</div>




</body>

</html>

<script>
	document.getElementsByClassName("cel")[0].value = "";
	document.getElementsByClassName("sms")[0].value = "";

</script>
